@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --orange-primary: #FF8C00;
  --orange-light: #FFD580;
  --orange-dark: #E67E22;
}

/* Aplicar colores personalizados */
.bg-orange-50 {
  background-color: var(--orange-light);
}

.bg-orange-100 {
  background-color: var(--orange-light);
}

.bg-orange-200 {
  background-color: var(--orange-primary);
}

.bg-orange-500 {
  background-color: var(--orange-primary);
}

.bg-orange-600 {
  background-color: var(--orange-dark);
}

.text-orange-600 {
  color: var(--orange-primary);
}
