.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #f4f4f4;
}

.auth-container,
.challenges-container {
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-container h2,
.challenges-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ff7043; /* naranja para los headers */
}

.auth-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #ff7043; /* naranja para los botones */
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.auth-button:hover {
  background-color: #ff5722; /* naranja mas oscuro para el hover */
}

.challenges-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.challenge-box {
  padding: 20px;
  border-radius: 5px;
  background-color: #ff7043; /* naranja para las challenge boxes */
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

.challenge-box:hover {
  background-color: #ff5722; /* naranja mas oscuro para el hover */
}